


.static-width{
    width: 320px;
    height: 320px;
    background-color: #606060;
    background-image: url("../image/star.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}




