


.banner{
    width: 100%;
    height: 600px;
    background-image: url("../image/logo.png"),
    url("../image/tło.jpg");
    background-repeat: no-repeat;
    background-position:  center, top, left;
    background-size: 600px, 100%;
}



